.contact--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14213d ;
    color: white;
    align-items: center;
    height: 94vh;
}

.contact--form {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contact--input {
    margin: 10px 0;
    padding: 10px;
}
.contact--message {
    margin-top: 10px;
}
.contact--btn {
    width: 50%;
    height: 40px;
    border-style: none;
    background-color: #fca311;
    color: #ffff;
    border: none;
    font-weight: 200;
    font-size: 20px;
}